.MainTextSide{
    width: 520px;
    background-color: #2b2b2b;
    padding: 65px 90px 65px 90px;
    max-height: 650px;
    transform: translateY(10px);
    margin-left: 10px;

    border-radius: 10px;
    &__title{
        font-size: 48px;
        width: 370px;
        color: white;
        margin-top: 150px;
        font-weight: 700;
        line-height: 60px;
    }
    &__demo{
        margin-top: 75px;
        background-color: white;
        width: 160px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    &__demo div{
        width: 45px;
        height: 45px;
        background-color: #2b2b2b;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-10px, 0px);
    }
    &__demo img{
        width: 25px;
        height: 25px;
    }
    &__wrapper{
        background-color: #0E2834;
        border-radius: 25px;
    }
}
