.CustomForm{
    display: flex;
    background-color: #0E2834;
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    max-height: 800px;
    margin: 0 auto;
    transform: translateY(7vh);
    border-radius: 10px;
}
